<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

<style>
  .container-wrapper{
    color: black;
    text-align: center;
  }

  .red{
    color: red;
  }

  .footer{
    color: black;
  }
</style>

</head>
<body>
  <div class="container-wrapper">
    <strong class="red">Transaksi gagal dilakukan!</strong>
    <p>Pembelian tiket yang kamu lakukan tidak dapat kami proses lebih lanjut, karena kamu tidak segera mengunggah bukti transaksi dalam pembelian tiket Memantik Baskara!

    </p>
    <p>Harap untuk mengisi form pembelian tiket kembali, segera lakukan pembayaran, dan unggah bukti pembayaran pada section upload bukti transaksi.
    </p>
  
    <div class="footer">
      <p>Terima kasih</p>
    
      <p>Salam hangat,</p>
      <p>
        <span class="tedx"><b style="color: red;">TEDx</b></span
        ><b>Universitas Brawijaya 2023</b>
      </p>
      <br />
      <hr
        style="
          color: #000000;
          background-color: #000000;
          height: 1px;
          border: none;
          width: 300px;
        "
      />
      <img
        class="tedxpicture"
        src="https://arcudskzafkijqukfool.supabase.co/storage/v1/object/public/tedxub2023/logo.png"
        alt=""
      />
      <div class="contact">
        <a href="tedxuniversitasbrawijaya.org">tedxuniversitasbrawijaya.org</a>
        <p> <span>Instagram</span>: @tedxuniversitasbrawijaya</p>
        <p><span>Twitter</span>: @tedxbrawijaya</p>
        <p><span>Email</span>: <a href="mailto:tedxuniversitasbrawijaya@gmail.com">tedxuniversitasbrawijaya@gmail.com</a></p>
      </div>
    </div>
  </div>
  </div>
</body>
</html>