<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Registration Notification</title>
    <style>
      * {
        color: black;
      }
      body {
        color: black;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <p>Dear Admin,</p>
    <p>
      We are excited to inform you that there has been a new registration on our
      platform.
    </p>
    <p><strong>Registration Details:</strong></p>
    <p><strong>Name:</strong> {{.Name}}</p>
    <p><strong>Email Address:</strong> {{.Email}}</p>
    <p><strong>Date and Time of Registration:</strong>{{.Date}}</p>
    <p>Please review the information above and take the necessary action.</p>
    <p>Thank you for your attention</p>
    <p></p>
  </body>
</html>
