<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		body {
			text-align: center;
			font-family: Arial, sans-serif;
			line-height: 1.6;
			margin: 0;
			padding: 0;
			background-color: #f7f7f7;
		}
		
		.tedx {
			color: #e62b1e;
			
		}
		.email-wrapper {
			max-width: 600px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
			background-color: #fff;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			border-radius: 10px;
		}

		.contact {
			line-height: 0.5;
			margin-top: 0;
		}

	</style>
</head>
<body>
	<div class="email-wrapper">
		<h3>Halo, {{.nama}} </h3>
		<br>
		<p>Terima kasih atas partisipasimu untuk menjadi bagian dari <b>Panggung Swara Insan</b> <span class="tedx"><b>TEDx</b></span><b>Universitas Brawijaya 2023!</b></p>
		<br>
		<p><b>Panggung Swara Insan</b> akan mengemukakan gagasan inspiratif yang disampaikan para pembicara dari kalangan mahasiswa Universitas Brawijaya dengan konsep intimate session.
		</p>
		<br>
		<p>Pendaftar yang terpilih untuk menghadiri <b>Panggung Swara Insan</b> akan kami hubungi melalui email dari masing-masing pendaftar, semoga keberuntungan berpihak padamu!
		</p>
		<br>
		<p>Terima kasih dan sampai jumpa!</p>
		<br><br>
		<p>Salam hangat,</p>
		<p><span class="tedx"><b>TEDx</b></span><b>Universitas Brawijaya 2023!</b></p>
		<br>
		<hr style="color: #333; background-color: #333; height: 1px; border: none; width: 300px;">
		<img class="tedxpicture" src="https://drive.google.com/uc?id=1JoNLqUn0xZ7bgtbtBETLruLwOsdoO6pQ" alt="">
		<div class="contact">
			<p>www.tedxuniversitasbrawijaya.org</p>
			<p>Instagram: @tedxuniversitasbrawijaya</p>
			<p>Twitter: @tedxbrawijaya</p>
			<p>Email: tedxuniversitasbrawijaya@gmail.com</p>
		</div>

	</body>
	</div>

</html>